{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=GlossaryDb;User Id=sa;Password=YOUR_PASSWORD;Encrypt=False;TrustServerCertificate=True"
  }
}
